

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background-color: whitesmoke;
}
#maze {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  margin-top: 40px;
}

#maze, #maze th, #maze td {
  border: 1px solid black;
}

#maze td {
  width: 60px;
  height: 60px;
}

.path-head, .path {
  background-color: rgba(144,238,144, 0.75);
  /* color: whitesmoke; */
}

.tile {
  background-color: white;
}

.obstacle-tile {
  background-color: black;
  color: black;
}

.path {
  font-size: 55%;
}













